

.body-class {
    background-color: rgb(241, 241, 230);
}

.header-class {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', monospace;
    color:rgb(0, 188, 255);
}

.nav-class {
    font-family: 'Lucida Sans', monospace;
    font-size: 20px;
    color:rgb(225, 231, 236);
    text-decoration: none;
    padding: 10px; 
    display: block;
    overflow: hidden;
    a:hover{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255)
    }
   
}

.title-class {
    background-color: rgb(4, 53, 77);
    font-family: 'Lucida Sans', monospace;
    color: (255, 247, 214)
}

.section-title-class {
    background-color: rgb(4, 53, 77);
    font-family: 'Lucida Sans', monospace;
    color: rgb(0, 188, 255)
}
.faq-question-class {
    font-family: 'Lucida Sans', monospace;
    text-indent: 20px;
}

.text-class {
    color:rgb(0, 0, 0);
    font-family: 'Lucida Sans', monospace;
}

.image-class {
    border: 5px solid rgb(255, 247, 214);
    border-radius: 15px;
    float: center;
}
.form-class {
    border: 4px solid black;
    border-radius: 8px;
    background-color: rgb(255, 247, 214);
}
.button-class {
    background-color: rgb(4, 53, 77);
    color: rgb(253, 253, 253);
    width: 100px;
    display: block;
    border-radius: 5px;
    font-family: 'Lucida Sans', monospace;
    font-size: 14px;
    padding: 10px;

}
.contact-section-class {
    font-family: 'Lucida Sans', monospace;
}
.newsletter-section-class {
    font-family: 'Lucida Sans', monospace;
}
.footer-class {
    padding: 10px;
    background-color: rgb(88, 188, 238);
    font-family: 'Lucida Sans', monospace;
    color:rgb(0, 188, 255);
    padding: 10px;
}
